In [10]:
import csv 
with open ('Book1.csv',mode='r') as file:
    csvFile =csv.reader(file)
    for line in csvFile:
        print(line)

['Name', 'Age']
['shrish', '32']
['hari ', '54']
['mohan', '23']
['rosan', '23']
['ravi', '45']
['alok ', '56']
['mukesh', '32']
['ramesh', '62']

In [11]:
import pandas as pd 
pd.read_csv('Book1.csv')

     Name  Age
0  shrish   32
1   hari    54
2   mohan   23
3   rosan   23
4    ravi   45
5   alok    56
6  mukesh   32
7  ramesh   62

In [6]:
def binary_search_fun(arr, target):
    low ,high = 0  , len(arr) -1

    while low <= high:
        mid = (low + high) // 2 

        if arr[mid] == target :
            return mid 
        elif  arr[mid] < target :
            low  = mid + 1
        else:
            high =mid - 1 
    return 'not found  arr in list'

arr = [1, 3, 5, 7, 9, 11, 15]
target = 0
print(binary_search_fun(arr,target))

not found  arr in list

In [ ]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None

class linkedlist:
    def __init__(self):
        self.head = None 
    def append(self,data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node 
            return 
        temp =self.head 
        while temp.next:
            temp =temp.next
        temp.next =new_node 

    def display(self):
        temp =self.head 
        while temp :
            print(temp.data,end= '  --')
            temp =temp.next 
        print("None")

8

In [ ]:
pi ='AAABBCDAAZZZM'
# op ='A(3)B(2)C(1)D(1)A(2)Z(3)M(1)'


def count_func(str1):
    res = []
    count = 1
    for i in range(1,len(str1)):
        if str1[i] == str1[i-1]:
            count += 1 
        else:
            res.append(f"{str1[i-1]}{count}")
            count =1 
    res.append(f"{str1[-1]}{count}")
    return ''.join(res)
str1 ='AAABBCDAAZZZM'
      
print(count_func(str1))

In [25]:

lst = [1,2,3,4,5,6] 
# and output: [[1,2], [3,4], [5,6]]
out = [lst[x : x+2 ]for x in range(0 ,len(lst),2)]
print(out)

[[1, 2], [3, 4], [5, 6]]

In [9]:
data = {'Name': ['John', 'Cataline', 'Matt'],
        'Age': [50, 45, 30],
        'City': ['Austin', 'San Francisco', 'Boston'],
        'Marks' : [70, 80, 95]}

# out =  city  mark
for x in range(len(data['City'])):
    if data['City'][x] =='Austin':
        print(f" city ->{ data['City'][x]} , mark --{data['Marks'][x] }")

 city ->Austin , mark --70

In [ ]:
lst1 = ['apple', 'banana', 'cherry', 'drapes'] 
lst2 =['drapes', 'berries', 'grapes', 'apple']
l2 =[]
duplicate = []
for  x in lst1:
    if x not in lst2:
        l2.append(x)
    else:
        duplicate.append(x)
print(l2 + lst1)
print(duplicate)

['banana', 'cherry', 'apple', 'banana', 'cherry', 'drapes']
['apple', 'drapes']

In [ ]:
l1 =[1,2, 3,4, 5,6, 7,8]
out =[l1[i : i+2]  for i in range(0,len(l1),2)]

[[1, 2], [3, 4], [5, 6], [7, 8]]