In [ ]:
# ! pip install pandas
import pandas as pd

data = [['John', 50, 'Male', 'Austin', 70],
        ['Cataline', 45 ,'Female', 'San Francisco', 80],
        ['Matt', 30 ,'Male', 'Boston', 95],
        ['Oliver',35,'Male', 'New york', 65]]

# Column labels of the DataFrame
columns = ['Name','Age','Sex', 'City', 'Marks']

# Create a DataFrame df
df = pd.DataFrame(data, columns=columns)

# Sort values based on ‘Age’ column
df.sort_values(by=['Age'])

df.head()

       Name  Age     Sex           City  Marks
0      John   50    Male         Austin     70
1  Cataline   45  Female  San Francisco     80
2      Matt   30    Male         Boston     95
3    Oliver   35    Male       New york     65

In [7]:
import pandas as pd

data = {'Name': ['John', 'Cataline', 'Matt'],
        'Age': [50, 45, 30],
        'City': ['Austin', 'San Francisco', 'Boston'],
        'Marks' : [70, 80, 95]}

# Create a DataFrame df
df = pd.DataFrame(data)
df

       Name  Age           City  Marks
0      John   50         Austin     70
1  Cataline   45  San Francisco     80
2      Matt   30         Boston     95

In [8]:
new_df = df[(df.Name == "John") | (df.Marks > 90)]
print (new_df)

   Name  Age    City  Marks
0  John   50  Austin     70
2  Matt   30  Boston     95

In [9]:
df.query('Name == "John" or Marks > 90')
print (new_df)

   Name  Age    City  Marks
0  John   50  Austin     70
2  Matt   30  Boston     95

In [10]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Matt', 'John', 'Matt', 'Matt', 'Matt'],
    'Marks': [10, 20, 30, 15, 25, 18]
}

# Create a DataFrame df
df = pd.DataFrame(data)

# mean marks of John and Matt
print(df.groupby('Name').mean())

      Marks
Name
John   20.0
Matt   19.5

In [16]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, np.nan],
    'C': [5, np.nan, np.nan, 8, 10],
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
     A    B     C
0  1.0  NaN   5.0
1  2.0  2.0   NaN
2  NaN  3.0   NaN
3  4.0  4.0   8.0
4  5.0  NaN  10.0

In [25]:
# dropped_rows =df.dropna()

# dropped_rows 
dropped_columns = df.dropna(axis=1)
# dropped_columns
filled_with_zero = df.fillna(True)
filled_with_zero
# filled_with_mean = df.fillna(df.mean())
# filled_with_mean

      A     B     C
0   1.0  True   5.0
1   2.0   2.0  True
2  True   3.0  True
3   4.0   4.0   8.0
4   5.0  True  10.0

In [30]:
import pandas as pd

data = {'Name': ['John', 'Cateline', 'Matt', 'Oliver'],
        'ID': [1, 22, 23, 36]}

df = pd.DataFrame(data)

#one hot encoding 
new_df = pd.get_dummies(df.Name)
new_df.head()

   Cateline   John   Matt  Oliver
0     False   True  False   False
1      True  False  False   False
2     False  False   True   False
3     False  False  False    True

In [6]:
a = [10, 15, 20, 25]

# a =[ x*2  for x in a if x%2 == 0 ]
a =[ x*2 if x %2 == 0 else x+50  for x in a ]
print(a)

[20, 65, 40, 75]

In [7]:
a =[1,2,3,4,5,6,7,8]
res =[]
for val in a:
    res.insert(0,val)
print(res)

[8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
a = [1, 3, 2, 6, 3, 2, 8, 2, 9, 2, 7, 3]
a =a.count(2)
a

4

In [15]:
# Function to sum digits of a number
def sumofdigit(num):
    total =  0
    while num > 0 :
        total += num % 10
        num //=10
    return total 

sumofdigit(23456)

20

In [18]:
def sumofdigit(val):
    total = 0
    while val >0:
        total += val % 10
        val //=10 
    return total 
a =[123,345,456]
res = [sumofdigit(val) for val in a ]
res

[6, 12, 15]

In [19]:
a = [123, 456, 789]
res =[sum(int(digit) for digit in str(val))for val in a]

res

[6, 15, 24]

In [21]:
num = 12234456 
rev = 0
while num != 0:
    rev =  num % 10 + rev * 10
    num //=10 
print(rev)

65443221

In [30]:
num = 1634

order = len(str(num))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

1634 is an Armstrong number

In [ ]:
str1 ='aabbbcccaabbcccdddaadd'
def compreess (str1):
    n= len(str1)
    new_s =''
    count =0
    for i in range(n-1):
        if str1[i] == str1[i+1]:
            count +=1
        else:
            new_s = new_s + str[i] + str(count)

# str1 = "python programming"
# OUTPUT:
# p: 2, y: 1, t: 1, h: 1, o: 2, n: 2, r: 2, g: 2, a: 1, m: 2, i: 1
str1 = "python programming"
char_count = {}
for char in str1:
    if char != ' ':
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
output = ', '.join(f"{char}: {count}" for char, count in sorted(char_count.items()))
print(output)

In [ ]:
def reverse_parameter(param):
    if isinstance(param, str):
        return ''.join(reversed(param))  # Using reversed() and join() for strings
    elif isinstance(param, int):
        is_negative = param < 0
        reversed_num = int(str(abs(param))[::-1])  # Handle the sign separately
        return -reversed_num if is_negative else reversed_num
    return None

# Example usage
a = reverse_parameter("abc")
b = reverse_parameter(123)
c = reverse_parameter(-123)
print(a,b,c)

In [2]:
s = 123456 

def rev_fun(s, rev = 0):
    if s == 0:
        return rev 
    return rev_fun(s //10, rev * 10 + s % 10 )
s =123456

print(rev_fun(s))

654321

In [1]:
def find_pairs(lst,taeget):
    seen = set()
    pairs = []
    for num  in lst:
        diff = taeget - num
        if diff in seen:
            pairs.append((diff,num))
        seen.add(num) 
    return pairs 

print(find_pairs([1,2,3,4,5,6],7))

[(3, 4), (2, 5), (1, 6)]

In [3]:
def longest_uniqe_substring(s):
    char_map = {}
    left = max_length = 0
    for right, char in enumerate(s):
        if char in char_map:
            left = max(left,char_map[char]+1)
        char_map[char] = right 
        max_length = max(max_length, right-left+1)
    return max_length 
print( longest_uniqe_substring('abcabcbb'))

3

In [ ]:
# def fact_fun(num):
#     if num == 1:
#         return 1 
#     else:
#         return num * fact_fun(num-1)
        
# num = 10

# print(fact_fun(num))
# print(fact_fun(6))

l1 =[1,2,5,7,-1,0,6,5]
target = 6

l2 =[]
def find_num_index(l1,target):
    for m in range(len(l1)):
        for n in range (m+1, len(l1)):
            if l1[m] + l1[n] == target:
                l2.append((m,n))
    return l2 


print(find_num_index(l1, target))

In [ ]:
import pandas as pd 
a =10 
s =pd.Series(a)
print(s,type(s))
a = 10.45 
s =pd.Series(a) 
print(s,type(s))
s =pd.Series(a)

0    10
dtype: int64 <class 'pandas.core.series.Series'>
0    10.45
dtype: float64 <class 'pandas.core.series.Series'>

In [14]:
import pandas as pd 
import numpy as np
technologies = {'Fee' :["20000","25000","26000"],'Discount':["1000","2300","1500"]  }
df = pd.DataFrame(technologies)
df
df.dtypes

Fee         object
Discount    object
dtype: object

In [16]:
df= df.astype(np.int64)
df

     Fee  Discount
0  20000      1000
1  25000      2300
2  26000      1500

In [17]:
df= df.astype("string")
print(df)

     Fee Discount
0  20000     1000
1  25000     2300
2  26000     1500

In [18]:
df.dtypes

Fee         string[python]
Discount    string[python]
dtype: object

In [19]:
df =df.astype('str')
df

     Fee Discount
0  20000     1000
1  25000     2300
2  26000     1500

In [21]:
df =df.astype('float')
df

       Fee  Discount
0  20000.0    1000.0
1  25000.0    2300.0
2  26000.0    1500.0

In [23]:
df["Fee"]=df["Fee"].astype("int")
df

     Fee  Discount
0  20000    1000.0
1  25000    2300.0
2  26000    1500.0

In [28]:
tech ={'course' :['spark','pyspark','heddoop'],
       'fee': ['2000',"3400","4000"],
       'dis':["1000","2300","1500"]}
tech
df =pd.DataFrame(tech)
print(df)
print(df.dtypes)

    course   fee   dis
0    spark  2000  1000
1  pyspark  3400  2300
2  heddoop  4000  1500
course    object
fee       object
dis       object
dtype: object

In [4]:
import pandas as pd
df = pd.DataFrame( {'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})

df.groupby(['Animal']).mean()
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [9]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.], 
				'Type': ['Bird', 'Bird', 'Bird', 'Bird']})
df.groupby(['Animal','Type']).mean()
df

   Animal  Max Speed  Type
0  Falcon      380.0  Bird
1  Falcon      370.0  Bird
2  Parrot       24.0  Bird
3  Parrot       26.0  Bird

In [16]:
import pandas as pd 
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).agg(['mean', 'max', 'min'])

       Max Speed
            mean    max    min
Animal
Falcon     375.0  380.0  370.0
Parrot      25.0   26.0   24.0

In [20]:
import pandas as pd 
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).filter( lambda x : x['Max Speed'].mean() > 100 )

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0

In [28]:
import pandas as pd 
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6],"C": [7,8,9]}) 
df.rename(columns={ "B": "b","C":"c"})

   A  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [33]:
import pandas as pd 
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6],"C": [7,8,9]})
df.rename(index={ 0: 'index_0',1:'index_1'})

         A  B  C
index_0  1  4  7
index_1  2  5  8
2        3  6  9

In [57]:
import pandas as pd
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'points': [30, 22, 19, 14, 14, 11, 20, 28]})

# df['mean_point']=df.groupby('team')['points'].transform('mean')
# df['sum_point']=df.groupby('team')['points'].transform('sum')
# df['sum_point']
df['percent_of_points'] = df.groupby('team')['points'].transform(lambda x: x/x.sum())
df

  team  points  percent_of_points
0    A      30           0.352941
1    A      22           0.258824
2    A      19           0.223529
3    A      14           0.164706
4    B      14           0.191781
5    B      11           0.150685
6    B      20           0.273973
7    B      28           0.383562

1. Find Total Number Apps in Google Play Store
2. Find the Total Number of Columns in Each app of Google Play Store
--------------------------------------------------------
1. Display Top 5 Rows of The Dataset
2. Check the Last 3 Rows of The Dataset
3. Find Shape of Our Dataset (Number of Rows & Number of Columns)
4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column 
   And  Memory Requirement
5. Get Overall Statistics About The Dataframe OR Get the Descriptive Statistics about Google Play Store
6. Obtain Total Number of App Titles Contain Astrology
7. Find Average App Rating
8.  Find Total Number of Unique Category
9. Which Category Getting The Highest Average Rating?
10. Find Total Number of App having 5 Star Rating

In [ ]:
import pandas as pd
import numpy as np
# pd.set_option("display.mix_columns",None)

df = pd.read_csv('googleplaystore.csv')
df.shape
df.shape[0]

13

In [5]:
df.shape[1]

13

In [7]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [8]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [9]:
df.describe

<bound method NDFrame.describe of                                                      App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0
3         4.5  215644                 25M  50,000,000+  Free     0
4         4.3     967                2.8M     100,000+  Free     0
...       ...     ...                 ...          ...   ...   ...
10836     4.5      38                 53M       5,000+  Free     0
10837     5.0       4                3.6M         100+  Free     0
10838     NaN       3                9.5M       1,000+  Free     0
10839     4.5     114  Varies with device       1,000+  Free     0
10840     4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]>

In [10]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [13]:
df.describe(include='all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [17]:
df["App"]

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [24]:
df[df['App']=='Astrology']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [22]:
df["App"].str.contains('Astrology')

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840     True
Name: App, Length: 10841, dtype: bool

In [32]:
df[df["App"].str.contains('Astrology')]
# len(df[df["App"].str.contains('Astrology')])

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1570,Horoscopes – Daily Zodiac Horoscope and Astrology,LIFESTYLE,4.6,161143,11M,"10,000,000+",Free,0,Everyone 10+,Lifestyle,"June 25, 2018",5.2.4(881),4.0.3 and up
1592,သိင်္ Astrology - Min Thein Kha BayDin,LIFESTYLE,4.7,2225,15M,"100,000+",Free,0,Everyone,Lifestyle,"July 26, 2018",4.2.1,4.0.3 and up
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [ ]:
len(df[df["App"].str.contains('Astrology')])
# print("Total Number of App Titles Contain 'Astrology' =:",len(df[df["App"].str.contains('Astrology')]))

Total Number of App Titles Contain 'Astrology' =: 3

In [37]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [40]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10836    4.5
10837    5.0
10838    NaN
10839    4.5
10840    4.5
Name: Rating, Length: 10841, dtype: float64

In [43]:
df['Rating'].mean()

np.float64(4.193338315362443)

In [45]:
round(df['Rating'].mean(),2)

np.float64(4.19)

In [46]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [48]:
df['Category']

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

In [49]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [50]:
len(df['Category'].unique())

34

In [51]:
for appname in df['Category'].unique():
    print(appname)

ART_AND_DESIGN
AUTO_AND_VEHICLES
BEAUTY
BOOKS_AND_REFERENCE
BUSINESS
COMICS
COMMUNICATION
DATING
EDUCATION
ENTERTAINMENT
EVENTS
FINANCE
FOOD_AND_DRINK
HEALTH_AND_FITNESS
HOUSE_AND_HOME
LIBRARIES_AND_DEMO
LIFESTYLE
GAME
FAMILY
MEDICAL
SOCIAL
SHOPPING
PHOTOGRAPHY
SPORTS
TRAVEL_AND_LOCAL
TOOLS
PERSONALIZATION
PRODUCTIVITY
PARENTING
WEATHER
VIDEO_PLAYERS
NEWS_AND_MAGAZINES
MAPS_AND_NAVIGATION
1.9

In [52]:
df['Category']

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

In [53]:
df.groupby('Category')['Rating']

In [54]:
df.groupby('Category')['Rating'].mean()

Category
1.9                    19.000000
ART_AND_DESIGN          4.358065
AUTO_AND_VEHICLES       4.190411
BEAUTY                  4.278571
BOOKS_AND_REFERENCE     4.346067
BUSINESS                4.121452
COMICS                  4.155172
COMMUNICATION           4.158537
DATING                  3.970769
EDUCATION               4.389032
ENTERTAINMENT           4.126174
EVENTS                  4.435556
FAMILY                  4.192272
FINANCE                 4.131889
FOOD_AND_DRINK          4.166972
GAME                    4.286326
HEALTH_AND_FITNESS      4.277104
HOUSE_AND_HOME          4.197368
LIBRARIES_AND_DEMO      4.178462
LIFESTYLE               4.094904
MAPS_AND_NAVIGATION     4.051613
MEDICAL                 4.189143
NEWS_AND_MAGAZINES      4.132189
PARENTING               4.300000
PERSONALIZATION         4.335987
PHOTOGRAPHY             4.192114
PRODUCTIVITY            4.211396
SHOPPING                4.259664
SOCIAL                  4.255598
SPORTS                  4.223511
TOOLS                   4.047411
TRAVEL_AND_LOCAL        4.109292
VIDEO_PLAYERS           4.063750
WEATHER                 4.244000
Name: Rating, dtype: float64

In [55]:
df.groupby('Category')['Rating'].mean().max()

np.float64(19.0)

In [56]:
df.groupby('Category')['Rating'].mean().sort_values()

Category
DATING                  3.970769
TOOLS                   4.047411
MAPS_AND_NAVIGATION     4.051613
VIDEO_PLAYERS           4.063750
LIFESTYLE               4.094904
TRAVEL_AND_LOCAL        4.109292
BUSINESS                4.121452
ENTERTAINMENT           4.126174
FINANCE                 4.131889
NEWS_AND_MAGAZINES      4.132189
COMICS                  4.155172
COMMUNICATION           4.158537
FOOD_AND_DRINK          4.166972
LIBRARIES_AND_DEMO      4.178462
MEDICAL                 4.189143
AUTO_AND_VEHICLES       4.190411
PHOTOGRAPHY             4.192114
FAMILY                  4.192272
HOUSE_AND_HOME          4.197368
PRODUCTIVITY            4.211396
SPORTS                  4.223511
WEATHER                 4.244000
SOCIAL                  4.255598
SHOPPING                4.259664
HEALTH_AND_FITNESS      4.277104
BEAUTY                  4.278571
GAME                    4.286326
PARENTING               4.300000
PERSONALIZATION         4.335987
BOOKS_AND_REFERENCE     4.346067
ART_AND_DESIGN          4.358065
EDUCATION               4.389032
EVENTS                  4.435556
1.9                    19.000000
Name: Rating, dtype: float64

In [59]:
df.groupby('Category')['Rating'].mean().nlargest(1)

Category
1.9    19.0
Name: Rating, dtype: float64

In [62]:
df.groupby('Category')["Rating"].mean().sort_values().tail(1)

Category
1.9    19.0
Name: Rating, dtype: float64

In [64]:
df.groupby('Category')['Rating'].mean().sort_values(ascending=False).head(1)

Category
1.9    19.0
Name: Rating, dtype: float64

In [65]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [66]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10836    4.5
10837    5.0
10838    NaN
10839    4.5
10840    4.5
Name: Rating, Length: 10841, dtype: float64

In [67]:
df['Rating'] == 5

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837     True
10838    False
10839    False
10840    False
Name: Rating, Length: 10841, dtype: bool

In [68]:
df[df['Rating'] ==5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
329,Hojiboy Tojiboyev Life Hacks,COMICS,5.0,15,37M,"1,000+",Free,0,Everyone,Comics,"June 26, 2018",2.0,4.0.3 and up
612,American Girls Mobile Numbers,DATING,5.0,5,4.4M,"1,000+",Free,0,Mature 17+,Dating,"July 17, 2018",3.0,4.0.3 and up
615,Awake Dating,DATING,5.0,2,70M,100+,Free,0,Mature 17+,Dating,"July 24, 2018",2.2.9,4.4 and up
633,Spine- The dating app,DATING,5.0,5,9.3M,500+,Free,0,Teen,Dating,"July 14, 2018",4.0,4.0.3 and up
636,Girls Live Talk - Free Text and Video Chat,DATING,5.0,6,5.0M,100+,Free,0,Mature 17+,Dating,"August 1, 2018",8.2,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10721,Mad Dash Fo' Cash,GAME,5.0,14,16M,100+,Free,0,Everyone,Arcade,"June 19, 2017",2.5a,4.1 and up
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9M,"1,000+",Free,0,Everyone,Lifestyle,"December 31, 2017",0.7.1,4.4 and up
10776,Monster Ride Pro,GAME,5.0,1,24M,10+,Free,0,Everyone,Racing,"March 5, 2018",2.0,2.3 and up
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6M,"1,000+",Free,0,Teen,Education,"June 27, 2018",3.8.0,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up

In [70]:
df[df['Rating']==5].shape[0]

274

In [71]:
len(df[df['Rating']==5])

274

In [74]:
df[df['Rating']==5].count().unique()[0]

np.int64(274)

In [ ]:
# def my_generrater_fun(start,end):
#     while  start< end:
#         yield start 
#         start +=1 
        

# data = my_generrater_fun(1,10)
# for i in data:
#     print(i)
        

# class my_inter_fun:
#     def __ self__ (self, start, end):
#         self.current = start 
#         self.end = end 
        
        
#     def __iter__(self):
#         return self 
        
#     def __next__(self):
#         if self.current >= se.endfl




# Write  program to get the maximum ocurrred number in a given

# list1 = [1,2,3,4,5,1,2,4,1,1,2,3,5,1,1]       

# d ={}
# for num in list1:
#     d[num] = d.get(num, 0) +1 

# print('data -------',d)    
# temp = None
# hightest_value = 0


# for num, count in d.items():
#     if count > hightest_value:
#         hightest_value = count
#         temp =  num 

# print('number---:',temp)  
# print('count---:',hightest_value)


# Write a program to get all the possible sublist from a given 

# l1   =[10, 20, 30 ,40 ,50]
#  [10],[10,20],[10,20,30][10,20,30,40,50]
    # [20,30][20,30,40]
    

# def sublist_fun(l1):
#     l = []
#     for i in range(len(l1)):
#         for j in range(i+1, len(l1)+1):
#             l.append(l1[i : j] )
#     return l
    

# l1   =[10, 20, 30 ,40 ,50]

# res = sublist_fun(l1)

# for q in res:
#     print(q)
            

class A:
    def abc_methed(self):
        print('this is class A  matehd')

class B:
    def pqr_methed(self):
        print('this is  call B matehd')

class C(A,B):
    def mnp_mathed(self):
        print('this is call C methed')
        
        
obj = C()
obj.abc_methed

In [2]:
def convert_to_12_hour(time_str):
    from datetime import datetime
    
    # Parse the 24-hour format time string
    time_obj = datetime.strptime(time_str, "%H:%M")
    
    # Convert to 12-hour format with AM/PM
    return time_obj.strftime("%I:%M %p")

# Example usage
time_24 = "20:05"
time_12 = convert_to_12_hour(time_24)
print(time_12)  # Output: 08:05 PM

08:05 PM