In [2]:
import  pandas as pd 

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'], 
    'Age': [25, 30, 35, 40],
    'Department': ['HR', 'Finance', 'IT', 'Marketing']
}

In [13]:
df = pd.DataFrame(data) 
print(df)
# print(df.describe())
filter_df =df[df['Department'].isin(['HR','IT'])] 
print('filter_df',filter_df)
sorted_df = df.sort_values(by='Age', ascending=False)
sorted_df

      Name  Age Department
0    Alice   25         HR
1      Bob   30    Finance
2  Charlie   35         IT
3    Diana   40  Marketing
filter_df       Name  Age Department
0    Alice   25         HR
2  Charlie   35         IT

      Name  Age Department
3    Diana   40  Marketing
2  Charlie   35         IT
1      Bob   30    Finance
0    Alice   25         HR

In [ ]:
grouped_df = df.groupby('Department')['Age'].mean()
grouped_df
# grouped_df.plot(kind='bar')
df.to_csv('processed_data.csv', index = False)

In [39]:
import pandas as pd 
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}

index = [100, 200, 300, 400, 500]
df = pd.DataFrame(data ,index=['a', 'b', 'c', 'd', 'e'])
print(df)
df = df.reindex(index)

index1 = pd.Index(['a', 'b', 'c', 'f'])
index2 = pd.Index(['b', 'd', 'c']) 

print(index1.intersection(index2))
print(index1.difference(index2))

# df

   A   B    C
a  1  10  100
b  2  20  200
c  3  30  300
d  4  40  400
e  5  50  500
Index(['b', 'c'], dtype='object')
Index(['a', 'f'], dtype='object')