In [3]:
from  abc import ABC ,abstractmethod 


class Organization(ABC):

    @abstractmethod
    def access_system(self):
        pass
class SecureOrganization(Organization) :
    def __init__(self, user_id,password):
        self.__user_id = user_id
        self.__password = password


    def __authencation(self):
        print("Authenticating user...")
        if self.__user_id == "admin" and self.__password == "secure123":
            return True
        return False
    
    def access_system(self):
        if self.__authencation():
            print('Access Granted !!')
        else:
            print('Access Denied')


org = SecureOrganization("admin", "secure123")
# org = SecureOrganization("admin", "hello")
org.access_system()

Authenticating user...
Access Denied

In [4]:
class Security:
    def __init__(self, user_id, password):
        self.__user_id = user_id  
        self.__password = password  

    def __authenticate(self):  
        print("Authenticating user...")
        return self.__user_id == "admin" and self.__password == "secure123"

    def authenticate_user(self):
        return self.__authenticate() 

class Organization:
    def __init__(self, user_id, password):
        self.security = Security(user_id, password)  

    def access_system(self):
        if self.security.authenticate_user():
            print("Access granted!")
        else:
            print("Access denied!")

# Example usage:
org = Organization("admin", "secure123")
org.access_system()  # Output: Authenticating user... Access granted!

Authenticating user...
Access granted!

In [ ]:
from  abc import ABC  abstractmethod 

class Animal(ABC):
    @abstractmethod
    def mark_sound(self):
        pass 

class Dog(Animal) :
    def make_sound(self):
        return "meow"


dog = Dog()
print(dog.make_sound())

Types of Inheritance in Django
1️⃣ Abstract Base Class Inheritance
2️⃣ Multi-Table Inheritance
3️⃣ Proxy Model Inheritance

Used when multiple models need common fields.
✅ The parent model does not create a database table.
✅ Child models inherit the fields but create their own tables.

from django.db import models

class BaseModel(models.Model):  # Abstract Base Class
    created_at = models.DateTimeField(auto_now_add=True)
    updated_at = models.DateTimeField(auto_now=True)

    class Meta:
        abstract = True  # This makes it an abstract model 

class User(BaseModel):  # Inherits BaseModel fields
    name = models.CharField(max_length=100)
    email = models.EmailField(unique=True)

class Product(BaseModel):  # Another model inheriting BaseModel
    name = models.CharField(max_length=100)
    price = models.DecimalField(max_digits=10, decimal_places=2)

----------------------------------------------------------------------------

Multi-Table Inheritance
✅ The parent model creates a database table.
✅ The child model gets its own table with a one-to-one link to the parent.
✅ Used when different child models share a base class but need their own tables.

class Person(models.Model):  # Creates a database table
    name = models.CharField(max_length=100)
    email = models.EmailField(unique=True)

class Employee(Person):  # Creates a separate table
    job_title = models.CharField(max_length=100)


3️⃣ Proxy Model Inheritance
✅ Does not create a new database table.
✅ Used to modify behavior of an existing model (e.g., change ordering).
✅ Useful when you need a customized version of an existing model. 

class UserProfile(models.Model):
    name = models.CharField(max_length=100)
    email = models.EmailField(unique=True)

class AdminUser(UserProfile):  # Creates a separate table
    is_admin = models.BooleanField(default=True)

class OrderedUser(UserProfile):  # Proxy Model (No new table)
    class Meta:
        ordering = ["name"]
        proxy = True  # This makes it a proxy model
s

In [ ]:
Write a Python function to merge two sorted lists 

def merge_data_function(list1, list2):
	result = []
		i  , j  = 0 , 0
		while  i < len(list1) and j < len(list2):
			if list1[i]< list2[j]:
				result.append(list1[i])
				i += 1
			else:
				result.append(list2[j])
	 			j += 1
			
	result.extend(list1[i:])
	result.extend(list2[j:])
	return result 
list1 = [3,4,5,6,3,4,5,6]
list2 = [8,7,6,5,5,4,5,4]

print(merge_data_function(list1,list2))


in sql 2nd hight salary  for each deptment 
emp_table 
dept_table 



select deptname , salary 
	from (
	select deptname, salary DENSE_RANK() over(PARTITION BY  DEPT_NAME ORDER BY SALAYR DESC) AS RANK
	FORM EMP_TABLE 	
) DENSC_RANK WHARE =2

In [ ]:
l1 =[0,1,2,0,1,2,0,1,2]
# timecomplicaty  O(n)


def dutch_national_flag_sort(l1):
    low, mid, high = 0, 0, len(l1) - 1

    while mid <= high:
        if l1[mid] == 0:
            l1[low], l1[mid] = l1[mid], l1[low]
            low += 1
            mid += 1
        elif l1[mid] == 1:
            mid += 1
        else:  # l1[mid] == 2
            l1[mid], l1[high] = l1[high], l1[mid]
            high -= 1

l1 = [0, 1, 2, 0, 1, 2, 0, 1, 2]
dutch_national_flag_sort(l1)
print(l1)

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [ ]:
def first_non_repeating_char(s):
    char_count= {}

    for char in  s :
        char_count[char] = char_count.get(char, 0) + 1
    
    for char in char_count:
        if char_count[char] == 1 :
            return char 
    return  None

In [ ]:
s = 'aabcccccaaab'
# output = 'a2b1c5a3' 
res  = {}
for char in s:
    res[char] = res.get(char,0) + 1
print(res) 

result  = ''.join(f'{k}{v}' for k,v in res.items() )
print(result)

def compress_string(s):
    compressed = ''
    count = 1
    prev_char = s[0] 

    for i in range(1, len(s)):
        if s[i]  == prev_char :
            count += 1
        else:
            compressed += prev_char + str(count)
            prev_char = s[i]
            count = 1

    compressed += prev_char +str(count) 
    return compressed  if len(compressed) < len(s) else s 

print(compress_string(s))

{'a': 5, 'b': 2, 'c': 5}
a5b2c5
a2b1c5a3b1

In [28]:
# 5. Question: Implement a function to find all permutations of a given string.
nums = ["abc", "acb", "bac", "bca", "cab", "cba"]

def permute( nums):
        result = []
        for i in range(len(nums)):
            char = nums[i]
            remaining_char = nums[:i] + nums[i + 1:]
            for num in permute(remaining_char):
                result.append([char] + num)
        return result
print(permute(nums))

[]

In [37]:
my_list = [10, 5, 20, 15, 30, 25, 35, 40, 45, 50]

def find_3rd_4th_highest(nums):
    if len(nums) < 4:
        return "List must contain at least four distinct integers."
    
    highest = second_highest = third_highest = fourth_highest = float('-inf')

    for num in nums:
        if num > highest:
            fourth_highest = third_highest
            third_highest = second_highest 
            second_highest = highest
            highest = num  
        elif num > second_highest:
            fourth_highest = third_highest
            third_highest = second_highest 
            second_highest = num 
        elif num > third_highest:
            fourth_highest = third_highest
            third_highest = num 
        elif num > fourth_highest:
            fourth_highest = num 

    return highest, second_highest, third_highest, fourth_highest       

# Example usage
nums = [10, 5, 20, 15, 30, 25, 35, 40, 45, 50]
print(find_3rd_4th_highest(nums))

(50, 45, 40, 35)

In [40]:
def merge_sort(arr):
    

    if len(arr) <= 1:
        return arr 

    mid = len(arr) // 2
    left_half = arr[:mid]
    right_half = arr[mid:]

    left_sorted = merge_sort(left_half)
    right_sorted = merge_sort(right_half)

    return merge(left_sorted, right_sorted)

def merge(left, right):
    

    merged = []
    left_index = 0
    right_index = 0

    while left_index < len(left) and right_index < len(right):
        if left[left_index] <= right[right_index]:
            merged.append(left[left_index])
            left_index += 1
        else:
            merged.append(right[right_index])
            right_index += 1

    merged.extend(left[left_index:])
    merged.extend(right[right_index:])

    return merged

# Example usage:
my_list = [38, 27, 43, 3, 9, 82, 10]
sorted_list = merge_sort(my_list)
print(sorted_list)

[3, 9, 10, 27, 38, 43, 82]

In [ ]:
df.dropna()
df.fillna(value)
df.isnull() 

df.groupby('column_name')['another_column'].mean()  or .sum(), .count()  

marge 
pd.merge(df1,df2 , on = 'column_id' , how =inner)   or left, right, outer 

loc is label-based  uesd to select row and column  by their labels 
iloc  it interger -based  ti uessd to select row    and  column  by  their integer positions.


df.apply (key = lambda x : x[0])  function 
df.applymap(function)  
serise.apply(function)

In [42]:
my_list = [10, 5, 20, 15, 30, 25, 35, 40, 45, 50]

# find second hight  

hight = second_ = three =  0 

for  num in my_list:
    if num > hight:
        three = second_ 
        second_ = hight 
        hight = num
    elif  num > second_:
        three = second_ 
        second_  = num 
    elif num > three :
        three = num 


print(hight)
print(second_)
print(three)

50
45
40

In [46]:
s = "aaabbcddaa"
# op=  '3a2b1c2d2a

res = '' 

count = 1 

for i in range(len(s)):
    if s[i] == s[i - 1]:
        count += 1
    else:
        res += str(count) +s[i-1]
        count = 1 
res += str(count) + s[i-1]
print(res)

4a2b1c2d2a

In [47]:
import pandas as pd 
data = {
    'name' : ['Alice Smith', 'Bob Johnson', 'Charlie Brown', 'David Wilson'],
    'Address': ['123 Elm St', '456 Oak St', '789 Pine St', '101 Maple St']

}
df =pd.DataFrame(data)
df

            name       Address
0    Alice Smith    123 Elm St
1    Bob Johnson    456 Oak St
2  Charlie Brown   789 Pine St
3   David Wilson  101 Maple St

In [50]:
df['name'] =df['name'].str.lower()
df

            name       Address
0    alice smith    123 Elm St
1    bob johnson    456 Oak St
2  charlie brown   789 Pine St
3   david wilson  101 Maple St

In [53]:
df['name'] =df['name'].str.strip()
df['Address'] =df['Address'].str.strip()
df

            name       Address
0    alice smith    123 Elm St
1    bob johnson    456 Oak St
2  charlie brown   789 Pine St
3   david wilson  101 Maple St

In [58]:
df['first name'] = df['name'].str.split().str[0]
print(df['first name'])

0      alice
1        bob
2    charlie
3      david
Name: first name, dtype: object

In [61]:
df['Address'] =df['Address'].str.replace('St', 'Street')
df['Address']

0      123 Elm Street
1      456 Oak Street
2     789 Pine Street
3    101 Maple Street
Name: Address, dtype: object

In [62]:
filter_list = df[df['name'].str.contains('alice')]
print(filter_list)

          name         Address first name
0  alice smith  123 Elm Street      alice