In [ ]:
# Stored Procedure 
CREATE PROCEDURE update_emp_data_salary(
    IN  p_emp_id Number , 
    IN  p_salary Number
)
AS
BEGIN 
    UPDATE employees
    set  salary  = salary + p_Salary
    where employees_id = p_emp_id

END 

-- Use the EXEC or CALL command with required parameters.

EXEC update_salary(101, 500);

In [ ]:
-- function 
CREATE FUNCTION get_emp_salary(p_emp_id NUMBER) RETURN  NUMBER AS  v_salary NUMBER;

BEGIN 
    SELECT salary INTO v_salary
    FROM employees
    where employees_id =p_emp_id 
    RETURN v_salary;
END ;

-- Call the function directly in SQL queries.
-- Execute
SELECT get_employee_salary(101) AS salary;

Feature	Stored             Procedure	                                      Function
Purpose	                  Perform tasks like insert/update/delete.	          Perform calculations or return values.
Return Value	          May or may not return a value.	                  Must return a single value.
Modification	          Can modify database objects.	                      Cannot modify database objects.
Usage in SQL	          Called using EXEC or CALL.	                      Can be used in SQL queries directly.

In [ ]:
CREATE PROCEDURE get_employee_count_by_department(
    @department_id INT,
    @employee_count INT
) 
AS
BEGIN
   select @employees_count = count(*)
   from employees 
   where department_id = @department_id  


END;

exec get_employee_count_by_department(101,3000)

In [ ]:
create  procedure update_and_return_salary( IN 
        p_emp_id  INT 
        P_increment decimal(10,2)
        P_update_salary  Decimal(10,2)  OUT    -- output 
)
AS 
begin 
    update emp 
    set salary = salary + p_increment
    where emp_id =  p_emp_id

    select P_update_salary =salary
    from emp 
    where emp_id = p_emp_id

end

In [ ]:
-- function in sql 
CREATE FUNCTION calculate_total_price (
    @quantity INT,
    @unit_price DECIMAL(10,2)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    RETURN @quantity * @unit_price;  
END;


select calculate_total_price(5, 20.30) as TotalPrice

In [ ]:

CREATE FUNCTION get_full_name (
    @first_name NVARCHAR(50), 
    @last_name NVARCHAR(50)
)
RETURNS NVARCHAR(100)
AS
BEGIN
    RETURN @first_name + ' ' + @last_name;  
END;